[server]
url = https://obico.breeoge.com
auth_token = bcaa25e333669e1f5d52

[moonraker]
host = 127.0.0.1
port = 7125

#[webcam Nozzle]
#disable_video_streaming = False
#target_fps = 25
#snapshot_url = http://192.168.1.15:1984/api/frame.jpeg?src=nozzle
#stream_url = rtsp://192.168.1.15:8554/nozzle
#stream_mode = h264_copy
#h264_http_url = rtsp://192.168.1.15:8554/nozzle
#is_nozzle_camera = True

[webcam Top]
disable_video_streaming = False
#snapshot_url = /webcam/?action=snapshot
#stream_url = /webcam/?action=stream
target_fps = 15
stream_mode = mjpeg_webrtc

[logging]
path = /home/breeoge/printer_data/logs/moonraker-obico.log
level = Debug

[tunnel]

