# Happy Hare MMU includes (should be near top of file)
[include mmu/base/*.cfg]
[include mmu/macros/*.cfg]
#####################################################################
# Printer Variables
#####################################################################
[force_move] 
enable_force_move: true

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 10000             #Max 4000
max_z_velocity: 30          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[virtual_sdcard]
path: /home/breeoge/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[save_variables]
filename: ~/printer_data/config/config/save_variables.cfg

[exclude_object]

[duplicate_pin_override]
pins: PF4,PA3
#   A comma separated list of pins that may be used multiple times in
#   a config file without normal error checks. This parameter must be
#   provided.

[respond]
default_type: echo
#   Sets the default prefix of the "M118" and "RESPOND" output to one
#   of the following:
#       echo: "echo: " (This is the default)
#       command: "// "
#       error: "!! "
default_prefix: 
#   Directly sets the default prefix. If present, this value will
#   override the "default_type".

[input_shaper]
shaper_type_x = ei     # recommended shaper type (e.g., mzv)
shaper_freq_x = 68.0   # recommended frequency value (e.g., 32.6)
shaper_type_y = ei     # recommended shaper type (e.g., mzv)
shaper_freq_y = 51.6   # recommended frequency value (e.g., 56.5)

#####################################################################
# Mainsail
#####################################################################
[include mainsail.cfg]

#####################################################################
# MCU Configs
#####################################################################
[include ./config/mcu.cfg]

#####################################################################
# X/Y Stepper Settings 
# Z Stepper Settings   
#####################################################################
[include ./config/stepper.cfg]
[include ./config/tmc2209.cfg]


#####################################################################
# Extruder
#####################################################################
[include ./config/extruder.cfg]


#####################################################################
# Bed and Hot-end Heater
#####################################################################
[include ./config/heater.cfg]


#####################################################################
# Sensors
#####################################################################
[include ./config/sensors.cfg]


#####################################################################
# Sensorless Homing
#####################################################################
#[include ./config/homing.cfg]


#####################################################################
# Fan Control
#####################################################################
[include ./config/fans.cfg]


#####################################################################
# LED Control and Display
#####################################################################
[include ./config/led.cfg]


#####################################################################
# Homing and Gantry Adjustment Routines
#####################################################################
[include ./config/gantry.cfg]


#####################################################################
# Resonance Testing 
#####################################################################
[include ./config/resonance.cfg]


#####################################################################
# Bed Settings V2.4 350mm 
#####################################################################
[include ./config/bed.cfg]


#####################################################################
# Pin Outs 
#####################################################################
[include ./config/pinouts.cfg]


#####################################################################
# Macros
#####################################################################
[include ./config/macros.cfg]
[include ./config/print_start.cfg]
[include ./config/print_end.cfg]


#####################################################################
# Beacon
#####################################################################
[include ./config/beacon.cfg]


#####################################################################
# Louver
#####################################################################
[include ./config/louver.cfg]

#####################################################################
# nevermore
#####################################################################
[include ./config/nevermore.cfg]


# Happy Hare Client macros (should be after last include or other PAUSE/CANCEL macros)
[include mmu/optional/client_macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 36.206
#*# pid_ki = 11.494
#*# pid_kd = 28.513
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 39.921
#*# pid_ki = 1.446
#*# pid_kd = 275.457
#*#
#*# [beacon model default]
#*# model_coef = 1.5054937964314774,
#*# 	1.8464753246083545,
#*# 	0.7636158428117107,
#*# 	0.32647798809534445,
#*# 	0.4655508428697811,
#*# 	0.5166424979942219,
#*# 	-0.36062526804100387,
#*# 	-0.5600935128700637,
#*# 	0.22515376207998933,
#*# 	0.27206249541643596
#*# model_domain = 1.8433613346982503e-07,1.9324553061654096e-07
#*# model_range = 0.199583,4.999583
#*# model_temp = 72.912252
#*# model_offset = 0.05000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.006169, 0.011573, 0.014304, 0.017146, 0.017064
#*# 	-0.010781, -0.004224, 0.000000, 0.002660, 0.003405
#*# 	-0.025473, -0.019361, -0.014480, -0.012482, -0.010999
#*# x_count = 5
#*# y_count = 3
#*# mesh_x_pps = 0
#*# mesh_y_pps = 0
#*# algo = direct
#*# tension = 0.2
#*# min_x = 156.56
#*# max_x = 193.44
#*# min_y = 164.967
#*# max_y = 185.033
