########################################################################################################################
# Happy Hare MMU Software
#
# EDIT THIS FILE BASED ON YOUR SETUP
#
# Copyright (C) 2022-2026  moggieuk#6538 (discord)
#                          moggieuk@hotmail.com
# This file may be distributed under the terms of the GNU GPLv3 license.
#
# Goal: Happy Hare MMU hardware pin config
#
# (\_/)
# ( *,*)
# (")_(") Happy Hare Ready
#
#
# This contains aliases for pins for MCU type MMB10
#
[mcu mmu]
canbus_interface:can0
canbus_uuid: a99262006fa1	# Change to `canbus_uuid: 1234567890` for CANbus setups

[mcu mmu_2]
canbus_interface:can0
canbus_uuid:44d2de76b2ab 	# Change to `canbus_uuid: 1234567890` for CANbus setup

# If using proportional sync-feedback sensor (like FPS), define mcu connection here
#[mcu fps]
#canbus_uuid:  
#canbus_interface: can0

#Stealthburner = G2E = Duel Sensor = UHF Rapido v2
#
#
#21.59 = Extruder Sensor
#31.81 = Extruder Gears
#53.60 = Toolhead Sensor
#74.36 = Cut
#141.25 = To Nozzle

#Toolhead_entry_to_extruder = 10.22
#Toolhead_extruder_to_nozzle = 131.03
#Toolhead_sensor to nozzle = 87.65
#Variable_blade_Pos = 66.89

# PIN ALIASES FOR MMU MCU BOARD ----------------------------------------------------------------------------------------
# ██████╗ ██╗███╗   ██╗     █████╗ ██╗     ██╗ █████╗ ███████╗
# ██╔══██╗██║████╗  ██║    ██╔══██╗██║     ██║██╔══██╗██╔════╝
# ██████╔╝██║██╔██╗ ██║    ███████║██║     ██║███████║███████╗
# ██╔═══╝ ██║██║╚██╗██║    ██╔══██║██║     ██║██╔══██║╚════██║
# ██║     ██║██║ ╚████║    ██║  ██║███████╗██║██║  ██║███████║
# ╚═╝     ╚═╝╚═╝  ╚═══╝    ╚═╝  ╚═╝╚══════╝╚═╝╚═╝  ╚═╝╚══════╝
# Section to create alias for pins used by MMU for easier integration into Klippain and RatOS. The names match those
# referenced in the mmu_hardware.cfg file. If you get into difficulty you can also comment out this aliases definition
# completely and configure the pin names directly into mmu_hardware.cfg. However, use of aliases is encouraged.

# Note: that aliases are not created for TOOLHEAD_SENSOR, EXTRUDER_SENSOR or SYNC_FEEDBACK_SENSORS because those are
# most likely on the printer's main mcu. These should be set directly in mmu_hardware.cfg
#
[board_pins mmu]
mcu: mmu # Assumes using an external / extra mcu dedicated to MMU
aliases:
    MMU_GEAR_UART_4=PA10,
    MMU_GEAR_STEP_4=PB15,
    MMU_GEAR_DIR_4=PB14,
    MMU_GEAR_ENABLE_4=PA8,
    MMU_GEAR_DIAG_4=PA3,

    MMU_GEAR_UART_5=PC7,
    MMU_GEAR_STEP_5=PD2,
    MMU_GEAR_DIR_5=PB13,
    MMU_GEAR_ENABLE_5=PD1,
    MMU_GEAR_DIAG_5=PA4,

    MMU_GEAR_UART_6=PC6,
    MMU_GEAR_STEP_6=PD0,
    MMU_GEAR_DIR_6=PD3,
    MMU_GEAR_ENABLE_6=PA15,
    MMU_GEAR_DIAG_6=PB9,

    MMU_GEAR_UART_7=PA9,
    MMU_GEAR_STEP_7=PB6,
    MMU_GEAR_DIR_7=PB7,
    MMU_GEAR_ENABLE_7=PB5,
    MMU_GEAR_DIAG_7=PB8,

    MMU_SEL_UART=,
    MMU_SEL_STEP=,
    MMU_SEL_DIR=,
    MMU_SEL_ENABLE=,
    MMU_SEL_DIAG=,
    MMU_SEL_ENDSTOP=,
    MMU_SEL_SERVO=,

    MMU_ENCODER=PA1,
    MMU_GATE_SENSOR=PB2,
#    MMU_NEOPIXEL=,

#    MMU_PRE_GATE_0=PC15,
#    MMU_PRE_GATE_1=PC13,
#    MMU_PRE_GATE_2=PC14,
#    MMU_PRE_GATE_3=PB12,
    MMU_PRE_GATE_4=PC14,
    MMU_PRE_GATE_5=PC13,
    MMU_PRE_GATE_6=PC15,
    MMU_PRE_GATE_7=PB12,

#    MMU_PRE_GATE_4=PC15,
#    MMU_PRE_GATE_5=PC13,
#    MMU_PRE_GATE_6=PC14,
#    MMU_PRE_GATE_7=PB12,
#    MMU_PRE_GATE_8=,
#    MMU_PRE_GATE_9=,
#    MMU_PRE_GATE_10=,
#    MMU_PRE_GATE_11=,

#    MMU_POST_GEAR_0=,
#    MMU_POST_GEAR_1=,
#    MMU_POST_GEAR_2=,
#    MMU_POST_GEAR_3=,
#    MMU_POST_GEAR_4=,
#    MMU_POST_GEAR_5=,
#    MMU_POST_GEAR_6=,
#    MMU_POST_GEAR_7=,
#    MMU_POST_GEAR_8=,
#    MMU_POST_GEAR_9=,
#    MMU_POST_GEAR_10=,
#    MMU_POST_GEAR_11=,

#    MMU_ESPOOLER_RWD_0=,
#    MMU_ESPOOLER_FWD_0=,
#    MMU_ESPOOLER_EN_0=,
#    MMU_ESPOOLER_TRIG_0=,
#    MMU_ESPOOLER_RWD_1=,
#    MMU_ESPOOLER_FWD_1=,
#    MMU_ESPOOLER_EN_1=,
#    MMU_ESPOOLER_TRIG_1=,
#    MMU_ESPOOLER_RWD_2=,
#    MMU_ESPOOLER_FWD_2=,
#    MMU_ESPOOLER_EN_2=,
#    MMU_ESPOOLER_TRIG_2=,
#    MMU_ESPOOLER_RWD_3=,
#    MMU_ESPOOLER_FWD_3=,
#    MMU_ESPOOLER_EN_3=,
#    MMU_ESPOOLER_TRIG_3=,

[board_pins mmu_2]
mcu: mmu_2 # Assumes using an external / extra mcu dedicated to MMU
aliases:
    MMU_GEAR_UART=PB5,
    MMU_GEAR_STEP=PD4,
    MMU_GEAR_DIR=PD3,
    MMU_GEAR_ENABLE=PD5,
    MMU_GEAR_DIAG=PB9,

    MMU_GEAR_UART_1=PB4,
    MMU_GEAR_STEP_1=PC9,
    MMU_GEAR_DIR_1=PC8,
    MMU_GEAR_ENABLE_1=PD2,
    MMU_GEAR_DIAG_1=PB8,

    MMU_GEAR_UART_2=PB3,
    MMU_GEAR_STEP_2=PC15,
    MMU_GEAR_DIR_2=PC11,
    MMU_GEAR_ENABLE_2=PC10,
    MMU_GEAR_DIAG_2=PB7,

    MMU_GEAR_UART_3=PD6,
    MMU_GEAR_STEP_3=PC13,
    MMU_GEAR_DIR_3=PC12,
    MMU_GEAR_ENABLE_3=PC14,
    MMU_GEAR_DIAG_3=PB6,

#    MMU_SEL_UART=,
#    MMU_SEL_STEP=,
#    MMU_SEL_DIR=,
#    MMU_SEL_ENABLE=,
#    MMU_SEL_DIAG=,
#    MMU_SEL_ENDSTOP=,
#    MMU_SEL_SERVO=,

#    MMU_ENCODER=PC2,
    MMU_GATE_SENSOR=PA15,
#    MMU_NEOPIXEL=PC3,

    MMU_PRE_GATE_0=PB2,
    MMU_PRE_GATE_1=PB11,
    MMU_PRE_GATE_2=PA8,
    MMU_PRE_GATE_3=PC6,
#    MMU_PRE_GATE_4=PB2,
#    MMU_PRE_GATE_5=PB11,
#    MMU_PRE_GATE_6=PA8,
#    MMU_PRE_GATE_7=PC6,

#    MMU_PRE_GATE_8=,
#    MMU_PRE_GATE_9=,
#    MMU_PRE_GATE_10=,
#    MMU_PRE_GATE_11=,

#    MMU_POST_GEAR_0=PC6,
#    MMU_POST_GEAR_1=PA8,
#    MMU_POST_GEAR_2=PB11,
#    MMU_POST_GEAR_3=PB2,
#    MMU_POST_GEAR_4=,
#    MMU_POST_GEAR_5=,
#    MMU_POST_GEAR_6=,
#    MMU_POST_GEAR_7=,
#    MMU_POST_GEAR_8=,
#    MMU_POST_GEAR_9=,
#    MMU_POST_GEAR_10=,
#    MMU_POST_GEAR_11=,

#    MMU_ESPOOLER_RWD_0=PB1,
#    MMU_ESPOOLER_FWD_0=,
#    MMU_ESPOOLER_EN_0=,
#    MMU_ESPOOLER_TRIG_0=,
#    MMU_ESPOOLER_RWD_1=PC5,
#    MMU_ESPOOLER_FWD_1=,
#    MMU_ESPOOLER_EN_1=,
#    MMU_ESPOOLER_TRIG_1=,
#    MMU_ESPOOLER_RWD_2=PB0,
#    MMU_ESPOOLER_FWD_2=,
#    MMU_ESPOOLER_EN_2=,
#    MMU_ESPOOLER_TRIG_2=,
#    MMU_ESPOOLER_RWD_3=PC4,
#    MMU_ESPOOLER_FWD_3=,
#    MMU_ESPOOLER_EN_3=,
#    MMU_ESPOOLER_TRIG_3=,


