########################################################################################################################
# Happy Hare v4 migration seed - unit0
#
# unit0 preserves old logical gates 0-3. These were connected to the old [mcu mmu_2]
# and match a BTT MMB v2.0 pin layout. User wiring is preserved explicitly rather than
# relying on board defaults.
########################################################################################################################

[mcu unit0]
canbus_interface: can0
canbus_uuid: 44d2de76b2ab

[mmu_unit unit0]
vendor: Other
version: 1.0
num_gates: 4
display_name: Naked Turtle 0
buffer: shared
toolhead: default
extruder_name: extruder
gear_steppers: unit0_gear, unit0_gear_1, unit0_gear_2, unit0_gear_3
selector_type: VirtualSelector
variable_bowden_lengths: 1
variable_rotation_distances: 1
require_bowden_move: 1
filament_always_gripped: 1
show_bypass: 0
filament_buffer: 0

# Gate 0
[tmc2209 mmu_stepper unit0_gear]
uart_pin: unit0:PB5
run_current: 0.8
hold_current: 0.1
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0

[mmu_stepper unit0_gear]
step_pin: unit0:PD4
dir_pin: !unit0:PD3
enable_pin: !unit0:PD5
rotation_distance: 4.54633736
gear_ratio: 1:1
microsteps: 16
full_steps_per_rotation: 200

# Gate 1
[tmc2209 mmu_stepper unit0_gear_1]
uart_pin: unit0:PB4

[mmu_stepper unit0_gear_1]
step_pin: unit0:PC9
dir_pin: !unit0:PC8
enable_pin: !unit0:PD2

# Gate 2
[tmc2209 mmu_stepper unit0_gear_2]
uart_pin: unit0:PB3

[mmu_stepper unit0_gear_2]
step_pin: unit0:PC15
dir_pin: !unit0:PC11
enable_pin: !unit0:PC10

# Gate 3
[tmc2209 mmu_stepper unit0_gear_3]
uart_pin: unit0:PD6

[mmu_stepper unit0_gear_3]
step_pin: unit0:PC13
dir_pin: !unit0:PC12
enable_pin: !unit0:PC14

[mmu_sensors unit0]
mmu_entry_switch_pin_0: ^unit0:PB2
mmu_entry_switch_pin_1: ^unit0:PB11
mmu_entry_switch_pin_2: ^unit0:PA8
mmu_entry_switch_pin_3: ^unit0:PC6
mmu_shared_exit_switch_pin: ^unit0:PA15
register_mmu_sensors: 1
