#####################################################################
#   Fan Control
#####################################################################

##  Print Cooling Fan - FAN0
[fan]
pin: SB2209: PB14
tachometer_pin: SB2209: PB15
tachometer_ppr: 1
tachometer_poll_interval: 0.0015
#cycle_time: 0.005  # Set to 200 Hz
#hardware_pwm: false
#kick_start_time: 0.4
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
#off_below: 0.15

##  Hotend Fan - FAN1
[heater_fan hotend_fan]
pin: SB2209: PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0
#hardware_pwm: false

##  Controller fan - FAN2
[controller_fan controller_fan]
pin: PD12
kick_start_time: 0.5
heater: heater_bed

#[controller_fan stepper_cooling]
#pin:PD12
#max_power: 1.0
#shutdown_speed: 0.0
#hardware_pwm: false
#kick_start_time: 0.5
#off_below: 0.0
#idle_timeout: 60
#idle_speed: 1.0
#stepper: stepper_x,stepper_y,stepper_z,stepper_z1,stepper_z2,stepper_z3

[heater_fan electronics_rear_exaust]
pin:PD15
max_power:1.0
shutdown_speed:0.0
hardware_pwm: false
kick_start_time: 0.5
off_below: 0.0
heater: heater_bed
heater_temp: 40.0
fan_speed: 1.0

#[heater_fan electronics_intake_left]
#pin:PD13
#max_power:1.0
#shutdown_speed:0.0
#hardware_pwm: false
#kick_start_time: 0.5
#off_below: 0.0
#fan_speed: 1.0
#heater: heater_bed
#heater_temp: 0.0

#[heater_fan electronics_intake_right]
#pin:PD14
#max_power:1.0
#shutdown_speed:0.0
#hardware_pwm: false
#kick_start_time: 0.5
#off_below: 0.0
#fan_speed: 1.0
#heater: heater_bed
#heater_temp: 0.0


#[fan_generic nevermore]
#pin: PD13
#pwm: true
#shutdown_value: 1
#value: 0

#[fan_generic Chamber]
#pin:PE5

[temperature_fan Chamber]
pin:PE5
sensor_type: Generic 3950
sensor_pin: PF4
control:watermark
target_temp: 65.0
hardware_pwm: false
max_speed: 0.5
min_speed: 0.0
kick_start_time: 5.0
min_temp:0
max_temp:70
max_power: 1.0
shutdown_speed: 0.0
cycle_time:0.01
off_below:0.1
gcode_id: C