#####################################################################
# Louver Control (with hysteresis buffer)
#####################################################################

[gcode_macro CHECK_TEMP_AND_MOVE_SERVO]
description: Control chamber vent with temperature hysteresis
variable_last_angle: 90
gcode:
    {% set chamber = printer["temperature_fan Chamber"] %}
    {% set chamber_temp = chamber.temperature|float %}
    {% set chamber_target = chamber.target|float %}

    {% set OPEN_ANGLE = 90 %}
    {% set CLOSED_ANGLE = 0 %}
    {% set BUFFER = 3.0 %}

    {% set last_angle = printer["gcode_macro CHECK_TEMP_AND_MOVE_SERVO"].last_angle|int %}

    {% if chamber_temp < (chamber_target - BUFFER) %}
        {% set new_angle = OPEN_ANGLE %}
    {% elif chamber_temp > (chamber_target + BUFFER) %}
        {% set new_angle = CLOSED_ANGLE %}
    {% else %}
        {% set new_angle = last_angle %}
    {% endif %}

    {% if new_angle != last_angle %}
        SET_SERVO SERVO=Chamber_Vent ANGLE={new_angle}
        SET_GCODE_VARIABLE MACRO=CHECK_TEMP_AND_MOVE_SERVO VARIABLE=last_angle VALUE={new_angle}

        {% set state = "open" if new_angle == OPEN_ANGLE else "closed" %}
        RESPOND TYPE=command MSG="Chamber vent {state} (temp={chamber_temp|round(1)}C target={chamber_target|round(1)}C)"
    {% endif %}


[delayed_gcode check_temp_servo_loop]
initial_duration: 5.0
gcode:
    CHECK_TEMP_AND_MOVE_SERVO
    UPDATE_DELAYED_GCODE ID=check_temp_servo_loop DURATION=30.0


[servo Chamber_Vent]
pin: PG15
initial_angle: 90
minimum_pulse_width: 0.0008
maximum_pulse_width: 0.0019
maximum_servo_angle: 90



#####################################################################
# Louver
#####################################################################
#[gcode_macro CHECK_TEMP_AND_MOVE_SERVO]
#gcode:
#    {% set chamber_temp = printer['temperature_fan Chamber'].temperature %}
#    {% if chamber_temp >= printer['temperature_fan Chamber'].target %}
#        SET_SERVO SERVO=Chamber_Vent ANGLE=0
#    {% else %}
#        SET_SERVO SERVO=Chamber_Vent ANGLE=90
#    {% endif %}

#[delayed_gcode check_temp_servo_loop]
#initial_duration: 5.0
#gcode:
#    CHECK_TEMP_AND_MOVE_SERVO
#    UPDATE_DELAYED_GCODE ID=check_temp_servo_loop DURATION=30.0

    
#[servo Chamber_Vent]
#pin: PG10
#initial_angle: 90
#minimum_pulse_width: 0.0008
#maximum_pulse_width: 0.0019
#maximum_servo_angle: 90