#####################################################################
# MCU Configs
#####################################################################

[mcu]
canbus_interface:can0
canbus_uuid: 3ef2c3113c4b

[mcu SB2209]
canbus_interface:can0
#canbus_uuid: ee2f6b0422e1
canbus_uuid: 7a7f848174da