#####################################################################
# Nevermore Smart Control
#####################################################################

[gcode_macro NEVERMORE]
description: Set Nevermore material mode and apply smart fan control
variable_material: 'ABS'
gcode:
    {% set material = params.MATERIAL|default("ABS")|string|upper %}

    SET_GCODE_VARIABLE MACRO=NEVERMORE VARIABLE=material VALUE='"{material}"'

    RESPOND TYPE=command MSG="Material set to {material}"

    UPDATE_DELAYED_GCODE ID=check_temp_bed_loop DURATION=1.0


[gcode_macro CHECK_TEMP_AND_SET_FAN]
description: Smart Nevermore control based on material and bed state
gcode:
    {% set material = printer["gcode_macro NEVERMORE"].material|string|upper %}
    {% set bed_temp = printer.heater_bed.temperature|float %}
    {% set bed_target = printer.heater_bed.target|float %}

    # Materials that should normally use Nevermore
    {% set filtered_material = material in ["ABS", "ASA"] %}

    # Keep fan on while bed is heating or still hot
    {% set heat_active = bed_temp < bed_target or bed_temp > 70 %}

    # Final decision
    {% set fan_on = 1 if filtered_material and heat_active else 0 %}

    SET_PIN PIN=nevermore VALUE={fan_on}

#    RESPOND TYPE=command MSG="Nevermore: material={material}, bed={bed_temp|round(1)}C, target={bed_target|round(1)}C, fan={'ON' if fan_on else 'OFF'}"


[delayed_gcode check_temp_bed_loop]
initial_duration: 5.0
gcode:
    CHECK_TEMP_AND_SET_FAN
    UPDATE_DELAYED_GCODE ID=check_temp_bed_loop DURATION=60.0





#####################################################################
# Nevermore
#####################################################################
#[gcode_macro CHECK_TEMP_AND_SET_FAN]
#gcode:
#    {% set heater_bed_temp = printer['heater_bed'].temperature %}
#    {% if heater_bed_temp >= printer['heater_bed'].target %}
#        {% if heater_bed_temp <= 70 %}
#        SET_PIN PIN=nevermore VALUE=0
#        {% else %}
#        SET_PIN PIN=nevermore VALUE=1
#        {% endif %}
#    {% else %}
#        SET_PIN PIN=nevermore VALUE=1
#    {% endif %}

#[delayed_gcode check_temp_bed_loop]
#initial_duration: 5.0
#gcode:
#    CHECK_TEMP_AND_SET_FAN
#    UPDATE_DELAYED_GCODE ID=check_temp_bed_loop DURATION=60.0


#[gcode_macro NEVERMORE]
#description: Set values based on material type
#variable_material: ''
#gcode:
#    {% set MATERIAL = params.MATERIAL|default('ABS')|string %} ; Get material type from slicer
#    SET_GCODE_VARIABLE MACRO=NEVERMORE VARIABLE=material VALUE='"{MATERIAL}"' ; Save the material type to a variable just because
#    {% if MATERIAL == 'PLA' %} ; If material type is PLA
#        RESPOND TYPE=command MSG="Material set to PLA"
#   		RESPOND TYPE=command MSG="Turning nevermore Filter Off"
#        SET_PIN PIN=nevermore VALUE=0 
            
#    {% elif MATERIAL == 'ABS' %} ; If material type is ABS
#        RESPOND TYPE=command MSG="Material Set to ABS"
#   		RESPOND TYPE=command MSG="Turning nevermore Filter On"
#        SET_PIN PIN=nevermore VALUE=1 
            
#    {% elif MATERIAL == 'ASA' %} ; If material type is ASA
#        RESPOND TYPE=command MSG="Material Set to ASA"
#   		RESPOND TYPE=command MSG="Turning nevermore Filter On"
#        SET_PIN PIN=nevermore VALUE=1 

#    {%else %} ; If any other material type
#        RESPOND TYPE=command MSG="Material Set to Default"
#  		RESPOND TYPE=command MSG="Turning nevermore Filter Off"
#        SET_PIN PIN=nevermore VALUE=0        
#        RESPOND TYPE=command MSG="Current Material Is = "{MATERIAL}
#    {% endif %}